# AEC security exchange

In [18]:
from bs4 import BeautifulSoup as soup
import urllib
import pandas as pd
from urllib.request import urlopen
import os, ssl
if (not os.environ.get('PYTHONHTTPSVERIFY', '') and getattr(ssl, '_create_unverified_context', None)):
    ssl._create_default_https_context = ssl._create_unverified_context
my_urls = {'ug':'https://www.use.or.ug/content/market-snapshot','ke':'https://www.nse.co.ke/market-statistics/equity-statistics.html?view=statistics',
          'tz':"https://www.dse.co.tz/dse/market-report"}


data = []
for my_url in my_urls:
    uClient = urlopen(my_urls[my_url])
    html_page = uClient.read()
    uClient.close()
    soup_page = soup(html_page,"html.parser")
    containers = soup_page.findAll("tbody")
    if my_url=='ug':
        containers = containers[0].findAll("tr")
        for container in containers:
            content = container.findAll('td')
            data.append([content[0].a.text,content[1].text,content[2].text,'ug',3700.56])
    elif my_url=='ke':
        for container in containers[0].findAll("tr",["row1","row0"]):
            data.append([container.findAll("td")[0].text,container.findAll("td")[1].text,container.findAll("td")[2].text,'ke',108.54])
    else:
        for container in containers[0].findAll('tr'):
            container=container.findAll('td')
            data.append([container[0].a.text,container[1].text,container[2].text,'tz',2319.70])
df=pd.DataFrame(data)

In [19]:
df.columns =['name','prev','last','country','usd_eqv']

In [20]:
df

      name       prev       last country  usd_eqv
0     BATU  30,000.00  30,000.00      ug  3700.56
1     BOBU     113.00     113.00      ug  3700.56
2     CENT     714.63     714.63      ug  3700.56
3    CQCIL     101.00     101.00      ug  3700.56
4     DFCU     638.00     639.00      ug  3700.56
..     ...        ...        ...     ...      ...
100   TPCC      2,160      2,160      tz  2319.70
101    TTP        120        120      tz  2319.70
102    USL          5          5      tz  2319.70
103   VODA        850        850      tz  2319.70
104   YETU        550        550      tz  2319.70

[105 rows x 5 columns]

# getting data for exchange rates

In [7]:
my_urls = {
    'ke':'https://www.xe.com/currencyconverter/convert/?Amount=1&From=USD&To=KES',
    'ug':'https://www.xe.com/currencyconverter/convert/?Amount=1&From=USD&To=KES',
    'tz':'https://www.xe.com/currencyconverter/convert/?Amount=1&From=USD&To=KES'
}

In [8]:
uClient=urlopen('https://www.xe.com/currencyconverter/convert/?Amount=1&From=USD&To=KES')

In [9]:
html_page = uClient.read()

In [10]:
uClient.close()

In [11]:
soup_page = soup(html_page,"html.parser")

In [14]:
containers = soup_page.findAll("div")

In [15]:
containers